* {
    margin: 0;
    padding: 0;
    
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/background.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: auto;
    position: absolute;
    bottom: 28%;
    transform: translateX(55%);
    text-align: left;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    background-clip: padding-box;
    font-family: 'Lato', sans-serif;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.portrait {
    max-width: 400px;
    max-height: 400px;
    float: right;
    justify-content: center;
    opacity: 1;
	animation-name: fadeInOpacity2;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

@media screen and (max-width: 1366px) {
    div.content{

        top: 27%;
        right: 50%;

        
        
        
        
    }

    div.column2 a{
        


        

    }
  }

@keyframes fadeInOpacity2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


