* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.faq ul{
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    margin:auto;
    position: flex;
    transform: translateY(70%);
    text-decoration: none;
}

.questions {
    width: auto;
    position:relative;
    margin:auto;
    text-align:center;
    transform: translateX(1%);
    text-decoration: none;
    list-style: none;

}

.blitz {
    float: left;
    position: relative;
}

@media screen and (max-width: 1366px) {
    div.faq{
        height:fit-content;
        transform: translateY(-25%);
        
    }
}
  











