* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/background3.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.faq {
    position: block;
    font-family: 'Lato', sans-serif;
    color:white;
    transform: translateY(120%);
    list-style: none;
    text-align: center;
    
}

.faq ul li {
    list-style: none;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    top: 40.5%;
}

span {
    background: #7289DA;
    height: 100%;
    width: 100;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5;
}
button:hover span {
    width: 100%;
}

button:hover{
    border: none;
    color: black;
}

@media screen and (max-width: 1366px) {
    div.faq{

        transform:translateY(50%);
        

        
        
        
        
    }

    div.column2 a{
        


        

    }

  











