* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/background.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: auto;
    position: absolute;
    top: 55%;
    transform: translateX(55%);
    text-align: left;
    color: white;
}

.getGood {
    width: auto;
    position: absolute;
    top: 35%;
    transform: translateX(45%);
    text-align: left;
    color: white;
    font-size: 48px;
}

@media screen and (max-width: 1366px) {
    div.fast{
        padding-top: 18px;
        
    }

    div.getGood {
      
    }

    div.content {
        padding-top: 39px;

    }
  }

.fast {
    width: auto;
    position: absolute;
    top: 45%;
    transform: translateX(120%);
    text-align: left;
    color: #eab062;
    font-size: 40px;
}



button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    top: 40.5%;
    transform: translateX(110%);
}

span {
    background: white;
    height: 100%;
    width: 100;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5;
}
button:hover span {
    width: 100%;
}

button:hover{
    border: none;
    color: black;
}





